.orders {
  background-color: lightgray;
  min-height: 100vh;
}
.card {
  background: white;
  border-radius: 10px;
  padding: 5px;
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  transform: translateY(-5px);
}

.card-text {
  color: rgb(19, 95, 66);
}
